:root{
    /* Light mode colors  */
    --bg-color: #bde7fd;
    --primary-color:#ff4600;
    --text-color: solid black;
    --border-color: solid black;
    --box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);

}

body{
    margin: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

a{

}

/* NavBar */
.navbar-container{
    justify-content: space-between;
    padding: 16px 32px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.logo-name{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.line{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
}

/* Nav Items  */
.nav-items{
    list-style: none;


@media (max-width:760px) {
    display: none;
}

}

.nav-items a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-items a:hover {
    color:var(--primary-color);
}

/* Hamburger menu  */
#hamburger-menu{
    display: none;
}

[for="hamburger-menu"]{
    display: none;

    @media (max-width: 760px){
        display: block;
    }
}

.side-menu{
    display: none;
}



/* Mobile Only CSS  */

@media (max-width:760px){

    .side-menu{
        width: 250px;
        box-shadow: var(--box-shadow);
        border-radius: 12px;
        background-color: var(--bg-color);
        display: block;
        position: absolute;
        top: 4rem;
        left: 100vw;
        transition: left 0.5s;


        }

    .side-menu-items {
        list-style: none;
        flex-direction: column;
        text-decoration: none;
        align-items: flex-start;
    }

    .side-menu-items a{
        text-decoration: none;
    }

    .side-menu-items a:hover{
        color: var(--primary-color);
    }

    #hamburger-menu:checked + .side-menu{
        /* display: block; */
        left: calc(100vw - 250px);
    }


    /* #hamburger-menu:not(:checked) + .side-menu{
        display: none;
    } */
}

/* Hero Section  */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.hero-section{
    background-color: var(--primary-color);
    border-radius: 12px;
    max-height: 60vh;
    margin: 4rem 0;

}

.intro-text{
    color: white;
    padding: 8px;
}

.download-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 12px;
    margin-top: 2rem;
}

.download-btn:hover{
    cursor: pointer;
}

.profile-image{
    margin: -3rem;
}

.profile-image img{
    height: 100%;
    width: 80%;
}

/* Summary Section  */
.summary-container{
    background-color: white;
    border: 2px solid black;
    border-radius: 24px;
    padding: 16px;
    justify-content: space-around;
    margin: 12px;
}

.summary-container i{
    color: var(--primary-color);
    font-size: 2rem;
}

.summary-container p{
    margin: 0;
    color: var(--primary-color);
    font-weight: bold;
}

.vertical-line{
    font-weight: bold;
    font-size: 1.5rem;
}
